# Ignore Node.js dependencies
node_modules/

# Ignore all .env variables
.env

# Ignore temp test file
hash.js

# Ignore DB volume data 
postgres_data/

# Ignore automatically created MacOS file
.DS_Store