<!DOCTYPE html>
<html>
    <head>
        <title> Foodies 'R' Us Blog Register</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="../imgs/foodie.ico">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <h1>Welcome to Foodies 'R' Us!</h1>
            <img id="logo" src="../imgs/logo.png">
        </header>
        <main>
        <p>Please provide your details to continue.</p>
        
        <% if (errorMessage) { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>

        <form method="post" action="/register" id="register_form">
            <label for="email_input">Email:</label>
            <input type="email" id="email_input" name="email_input" placeholder="Please enter your email..." required/>

            <label for="username_input">Username:</label>
            <input type="text" id="username_input" name="username_input" placeholder="Please enter your username..." required/>

            <label for="password_input">Password:</label>
            <input type="password" id="password_input" name="password_input" placeholder="Please enter your password..." required/>

            <button id="register_btn" type="submit">Register</button>
        </form>
        <a href="/">Login</a>
        </main>
    </body>
</html>